<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Podcast APP</title>
    <link rel="apple-touch-icon" sizes="76x76" href="<%= BASE_URL %>static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="<%= BASE_URL %>static/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
  <div class="wrapper" id="app"></div>
</body>
</html>
